<!DOCTYPE html>
<html lang="ru">
<head>
  <% include partials/head %>
  <% include partials/counters %>
</head>
<body>
  <div class="wrapper">

    <% include partials/menu %>

    <h1 class="hero__header"><%= title %></h1>

    <% files.forEach(function(file) { %>
      <div>
        <% if (jokes) { %>
          <a href="/jokes/<%= file %>"><%= file %></a>
        <% } else { %>
          <a href="/blog/<%= file %>"><%= file %></a>
        <% } %>
      </div>
    <% }); %>

    <% include partials/footer %>

  </div>
</body>
</html>